In [140]:
import pandas as pd
import numpy as np

In [160]:
aparts = pd.read_csv('./export/safety/apartSafetyTrained.csv')
aparts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2762 entries, 0 to 2761
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   k-아파트코드           2762 non-null   object
 1   k-아파트명            2762 non-null   object
 2   주소(시군구)           2762 non-null   object
 3   주소(읍면동)           2762 non-null   object
 4   lon               2727 non-null   float64
 5   lat               2727 non-null   float64
 6   min_lat           2727 non-null   float64
 7   max_lat           2727 non-null   float64
 8   min_lon           2727 non-null   float64
 9   max_lon           2727 non-null   float64
 10  fireVal           2762 non-null   float64
 11  policeVal         2762 non-null   float64
 12  cctvVal           2762 non-null   float64
 13  cluster           2762 non-null   int64
 14  DistanceToCenter  2762 non-null   float64
 15  score             2762 non-null   float64
 16  class             2762 non-null   float64
dtypes: float64(12), int64(1), object(4)
memory usage: 367.0+ KB

In [161]:


aparts = aparts[['k-아파트코드','k-아파트명','주소(시군구)','주소(읍면동)',
                 'lon','lat','min_lat','max_lat','min_lon','max_lon',
                 'score','class']]

aparts = aparts.drop_duplicates(subset='k-아파트코드') # 중복 아파트 제거
aparts = aparts.rename(columns={'class': 'safetyClass','score':'safetyClass'})
#안전 등급은 이미 평가가 되어있다.
#safetymodel.ipynb 에서 생성됨.
aparts.head()

,k-아파트코드,k-아파트명,주소(시군구),주소(읍면동),lon,lat,min_lat,max_lat,min_lon,max_lon,safetyClass,safetyClass
0,A15679103,우리유앤미,동작구,흑석동,126.959639,37.500668,37.473668,37.527668,126.932639,126.986639,0.792010,1.0
1,A13876112,송파파인타운13단지,송파구,장지동,127.129179,37.476897,37.449897,37.503897,127.102179,127.156179,0.448997,2.0
2,A13873701,오금현대백조(임대),송파구,오금동,127.128775,37.508906,37.481906,37.535906,127.101775,127.155775,0.769615,1.0
3,A15275101,개봉건영,구로구,개봉동,126.840675,37.501162,37.474162,37.528162,126.813675,126.867675,0.653561,1.0
4,A13991016,월계동원베네스트,노원구,월계동,127.058220,37.631732,37.604732,37.658732,127.031220,127.085220,0.729308,1.0

In [143]:
aparts.head(5)

,k-아파트코드,k-아파트명,주소(시군구),주소(읍면동),lon,lat,min_lat,max_lat,min_lon,max_lon,safetyClass,safetyClass
0,A15679103,우리유앤미,동작구,흑석동,126.959639,37.500668,37.473668,37.527668,126.932639,126.986639,0.792010,1.0
1,A13876112,송파파인타운13단지,송파구,장지동,127.129179,37.476897,37.449897,37.503897,127.102179,127.156179,0.448997,2.0
2,A13873701,오금현대백조(임대),송파구,오금동,127.128775,37.508906,37.481906,37.535906,127.101775,127.155775,0.769615,1.0
3,A15275101,개봉건영,구로구,개봉동,126.840675,37.501162,37.474162,37.528162,126.813675,126.867675,0.653561,1.0
4,A13991016,월계동원베네스트,노원구,월계동,127.058220,37.631732,37.604732,37.658732,127.031220,127.085220,0.729308,1.0

In [144]:
educations = pd.read_csv('./export/education/final_graded_school_locations.csv')
educations = educations[['cluster'	,'DistanceToCenter'	,'등급','학교명','조사년도','개방ID','lat','lon']]
educations = educations.rename(columns={'등급': 'class'})
educations.head(5)

,cluster,DistanceToCenter,class,학교명,조사년도,개방ID,lat,lon
0,0,0.100041,2.0,가재울고등학교,2019,1018780291,37.574364,126.90953
1,0,0.100041,2.0,가재울고등학교,2019,1018780291,37.574364,126.90953
2,0,0.100041,2.0,가재울고등학교,2019,1018780291,37.574364,126.90953
3,0,0.100041,2.0,가재울고등학교,2019,1018780291,37.574364,126.90953
4,0,0.100041,2.0,가재울고등학교,2019,1018780291,37.574364,126.90953

In [162]:
fireCentor = pd.read_csv('./export/safety/filtered_safety_center_data_seoul.csv')

polices = pd.read_csv('./export/safety/policeFacilityOutput.csv')
polices[['lat','lon']] = polices[['lat','lon']].fillna(0)
#경찰서에 위도경도가 적더라
polices

     구분                          주소       이름  lat  lon
0     1           서울특별시 중구  을지로 234  서울중부 을지  0.0  0.0
1     1         서울특별시 중구  퇴계로 375-1  서울중부 광희  0.0  0.0
2     1  서울특별시 중구  동호로 5길 15, 약수지구대  서울중부 약수  0.0  0.0
3     2          서울특별시 중구  다산로 248   서울중부 신당  0.0  0.0
4     2           서울특별시 중구  동호로 261  서울중부 장충  0.0  0.0
..   ..                         ...      ...  ...  ...
238   1          서울특별시 강남구  삼성로 203  서울수서 대치  0.0  0.0
239   2        서울특별시 강남구  밤고개로1길 48  서울수서 수서  0.0  0.0
240   2          서울특별시 강남구  헌릉로 623  서울수서 대왕  0.0  0.0
241   1   서울특별시 강남구  일원로3길 35 일원파출소  서울수서 일원  0.0  0.0
242   1          서울특별시 강남구  개포로 261  서울수서 개포  0.0  0.0

[243 rows x 5 columns]

In [163]:
hospitals = pd.read_csv('./export/hospital/hospitalOutput.csv')
hospitals = hospitals[['암호화요양기호','요양기관명','cluster','DistanceToCenter','score','class','lat','lon']]
hospitals.head()

,암호화요양기호,요양기관명,cluster,DistanceToCenter,score,class,lat,lon
0,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,경희대학교병원,1,0.146532,1.382311,0.0,37.593776,127.050742
1,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,한양대학교병원,1,0.141688,1.377467,0.0,37.558582,127.045716
2,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,학교법인 고려중앙학원 고려대학교의과대학부속병원(안암병원),1,0.168272,1.404051,0.0,37.587377,127.026249
3,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...,강북삼성병원,1,0.153161,1.388940,0.0,37.568868,126.967813
4,JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQyIy...,학교법인가톨릭학원가톨릭대학교서울성모병원,1,0.199852,1.435631,0.0,37.502394,127.005861

In [166]:
policeFacilities = pd.read_csv('./export/safety/policeOutput.csv')
policeFacilities

     구분                          주소       이름        lat         lon
0     1           서울특별시 중구  을지로 234  서울중부 을지  37.566473  127.003944
1     1         서울특별시 중구  퇴계로 375-1  서울중부 광희  37.565268  127.013376
2     1  서울특별시 중구  동호로 5길 15, 약수지구대  서울중부 약수  37.552144  127.012382
3     2          서울특별시 중구  다산로 248   서울중부 신당  37.565044  127.016385
4     2           서울특별시 중구  동호로 261  서울중부 장충  37.558763  127.004802
..   ..                         ...      ...        ...         ...
238   1          서울특별시 강남구  삼성로 203  서울수서 대치  37.494874  127.062618
239   2        서울특별시 강남구  밤고개로1길 48  서울수서 수서  37.489128  127.104813
240   2          서울특별시 강남구  헌릉로 623  서울수서 대왕  37.465176  127.107362
241   1   서울특별시 강남구  일원로3길 35 일원파출소  서울수서 일원  37.492416  127.083374
242   1          서울특별시 강남구  개포로 261  서울수서 개포  37.479778  127.051168

[243 rows x 5 columns]

In [146]:
# 범위 내의 시설인지 확인하는 함수
def in_range(row, aparts_df):
    # row의 위도와 경도가 aparts_df의 범위에 있는지 확인
    in_lat_range = (row['lat'] >= aparts_df['min_lat']) & (row['lat'] <= aparts_df['max_lat'])
 
    in_lon_range = (row['lon'] >= aparts_df['min_lon']) & (row['lon'] <= aparts_df['max_lon'])
   
    # 위도와 경도가 모두 범위 내에 있는지 여부를 확인
    
    
    # result 값이 False인 항목의 개수 출력
    #print(f"Number of False results: {(result == True).sum()}")
  
    
    return (in_lat_range & in_lon_range)

In [ ]:


maskHospital = hospitals.apply(lambda row: in_range(row, aparts), axis=1)

maskEducations = educations.apply(lambda row: in_range(row, aparts), axis=1)
maskPolices = policeFacilities.apply('./export/safety/policeFacilityOutput.csv')
#mask_lat

In [ ]:
for i, aprat in enumerate(aparts):
    #아파트 별 3km 이내의 보건, 교육 데이터를 불러옴 (Aparts 안에 있음)
    print(maskHospital[i].value_counts())
    print(maskEducations[i].value_counts())
    print('-------')

0
False    1783
True       82
Name: count, dtype: int64
0
False    1745
True       75
Name: count, dtype: int64
-------
1
False    1795
True       70
Name: count, dtype: int64
1
False    1770
True       50
Name: count, dtype: int64
-------
2
False    1694
True      171
Name: count, dtype: int64
2
False    1730
True       90
Name: count, dtype: int64
-------
3
False    1803
True       62
Name: count, dtype: int64
3
False    1720
True      100
Name: count, dtype: int64
-------
4
False    1777
True       88
Name: count, dtype: int64
4
False    1690
True      130
Name: count, dtype: int64
-------
5
False    1748
True      117
Name: count, dtype: int64
5
False    1765
True       55
Name: count, dtype: int64
-------
6
False    1743
True      122
Name: count, dtype: int64
6
False    1775
True       45
Name: count, dtype: int64
-------
7
False    1742
True      123
Name: count, dtype: int64
7
False    1745
True       75
Name: count, dtype: int64
-------
8
False    1777
True       88
Name: count, dtype: int64
8
False    1740
True       80
Name: count, dtype: int64
-------
9
False    1762
True      103
Name: count, dtype: int64
9
False    1680
True      140
Name: count, dtype: int64
-------
10
False    1771
True       94
Name: count, dtype: int64
10
False    1765
True       55
Name: count, dtype: int64
-------
11
False    1729
True      136
Name: count, dtype: int64
11
False    1750
True       70
Name: count, dtype: int64
-------