In [20]:
import pandas as pd
import numpy as np

In [21]:
aparts = pd.read_csv('./data/aparts.csv')
aparts = aparts[aparts['주소(시도)k-apt주소split'] == '서울'][['k-아파트코드','k-아파트명','주소(시군구)','주소(읍면동)','좌표X','좌표Y']]
aparts = aparts.drop_duplicates(subset='k-아파트코드') # 중복 아파트 제거
aparts = aparts.rename(columns={'좌표X': 'lon', '좌표Y': 'lat'})
aparts

        k-아파트코드         k-아파트명 주소(시군구) 주소(읍면동)         lon        lat
0     A15679103          우리유앤미     동작구     흑석동  126.959639  37.500668
1     A13876112     송파파인타운13단지     송파구     장지동  127.129179  37.476897
2     A13873701     오금현대백조(임대)     송파구     오금동  127.128775  37.508906
3     A15275101           개봉건영     구로구     개봉동  126.840675  37.501162
4     A13991016       월계동원베네스트     노원구     월계동  127.058220  37.631732
...         ...            ...     ...     ...         ...        ...
2794  A10022430   신길AK푸르지오주상복합    영등포구     신길동  126.910099  37.506605
2795  A10022476       논현 e편한세상     강남구     논현동  127.028762  37.506865
2796  A10022525       강동헤리티지자이     강동구      길동  127.148697  37.539149
2797  A10022419  길음역 롯데캐슬 트윈골드     성북구     길음동  127.022976  37.603698
2798  A10022325    성수금호타운2차아파트     성동구   성수동2가  127.053152  37.543596

[2762 rows x 6 columns]

In [22]:
def ROI_facilities(row):
      # 관심영역 설정: 3km 이내의 데이터를 뽑아옴
    delta = 0.009  # 약 1km에 해당하는 값 (정확하지 않음) 대략적인 근삿값으로 계산 

    min_lat = row['lat'] - delta
    max_lat = row['lat'] + delta
    min_lon = row['lon'] - delta
    max_lon = row['lon'] + delta
    return pd.Series({'min_lat': min_lat, 'max_lat': max_lat, 'min_lon': min_lon, 'max_lon': max_lon})

In [23]:
aparts[['min_lat', 'max_lat', 'min_lon', 'max_lon']] = aparts.apply(ROI_facilities, axis=1)

In [24]:
aparts

,k-아파트코드,k-아파트명,주소(시군구),주소(읍면동),lon,lat,min_lat,max_lat,min_lon,max_lon
0,A15679103,우리유앤미,동작구,흑석동,126.959639,37.500668,37.491668,37.509668,126.950639,126.968639
1,A13876112,송파파인타운13단지,송파구,장지동,127.129179,37.476897,37.467897,37.485897,127.120179,127.138179
2,A13873701,오금현대백조(임대),송파구,오금동,127.128775,37.508906,37.499906,37.517906,127.119775,127.137775
3,A15275101,개봉건영,구로구,개봉동,126.840675,37.501162,37.492162,37.510162,126.831675,126.849675
4,A13991016,월계동원베네스트,노원구,월계동,127.058220,37.631732,37.622732,37.640732,127.049220,127.067220
...,...,...,...,...,...,...,...,...,...,...
2794,A10022430,신길AK푸르지오주상복합,영등포구,신길동,126.910099,37.506605,37.497605,37.515605,126.901099,126.919099
2795,A10022476,논현 e편한세상,강남구,논현동,127.028762,37.506865,37.497865,37.515865,127.019762,127.037762
2796,A10022525,강동헤리티지자이,강동구,길동,127.148697,37.539149,37.530149,37.548149,127.139697,127.157697
2797,A10022419,길음역 롯데캐슬 트윈골드,성북구,길음동,127.022976,37.603698,37.594698,37.612698,127.013976,127.031976
2798,A10022325,성수금호타운2차아파트,성동구,성수동2가,127.053152,37.543596,37.534596,37.552596,127.044152,127.062152

In [25]:
hospitals = pd.read_csv('./export/hospital/hospitalOutput.csv')

hospitals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1865 entries, 0 to 1864
Data columns (total 43 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   암호화요양기호           1865 non-null   object
 1   요양기관명             1865 non-null   object
 2   종별코드              1865 non-null   int64
 3   종별코드명             1865 non-null   object
 4   시도코드              1865 non-null   int64
 5   시도코드명             1865 non-null   object
 6   시군구코드             1865 non-null   int64
 7   시군구코드명            1865 non-null   object
 8   읍면동               1300 non-null   object
 9   주소                1865 non-null   object
 10  전화번호              1860 non-null   object
 11  병원URL             147 non-null    object
 12  개설일자              1865 non-null   object
 13  총의사수              1865 non-null   int64
 14  의과일반의 인원수         1865 non-null   int64
 15  의과인턴 인원수          1865 non-null   int64
 16  의과레지던트 인원수        1865 non-null   int64
 17  의과전문의 인원수         1865 non-null   int64
 18  치과일반의 인원수         1865 non-null   int64
 19  치과인턴 인원수          1865 non-null   int64
 20  치과레지던트 인원수        1865 non-null   int64
 21  치과전문의 인원수         1865 non-null   int64
 22  한방일반의 인원수         1865 non-null   int64
 23  한방인턴 인원수          1865 non-null   int64
 24  한방레지던트 인원수        1865 non-null   int64
 25  한방전문의 인원수         1865 non-null   int64
 26  x좌표               294 non-null    float64
 27  y좌표               294 non-null    float64
 28  조사기간              1865 non-null   int64
 29  병원홈페이지            742 non-null    object
 30  조산사 인원수           1567 non-null   float64
 31  좌표(X)             1556 non-null   float64
 32  좌표(Y)             1556 non-null   float64
 33  equitments        1865 non-null   float64
 34  levels            1865 non-null   float64
 35  grade             1865 non-null   float64
 36  medicalLevel      1865 non-null   float64
 37  cluster           1865 non-null   int64
 38  DistanceToCenter  1865 non-null   float64
 39  class             1865 non-null   float64
 40  hospitalScore     1865 non-null   float64
 41  lat               1854 non-null   float64
 42  lon               1854 non-null   float64
dtypes: float64(14), int64(18), object(11)
memory usage: 626.6+ KB

In [26]:
hospitals[['lat',	'lon']]

            lat         lon
0     37.593776  127.050742
1     37.558582  127.045716
2     37.587377  127.026249
3     37.568868  126.967813
4     37.502394  127.005861
...         ...         ...
1860  37.521588  127.032643
1861  37.546575  126.870684
1862  37.495795  127.019673
1863  37.608417  127.078466
1864  37.508438  127.023082

[1865 rows x 2 columns]

In [27]:
aparts

,k-아파트코드,k-아파트명,주소(시군구),주소(읍면동),lon,lat,min_lat,max_lat,min_lon,max_lon
0,A15679103,우리유앤미,동작구,흑석동,126.959639,37.500668,37.491668,37.509668,126.950639,126.968639
1,A13876112,송파파인타운13단지,송파구,장지동,127.129179,37.476897,37.467897,37.485897,127.120179,127.138179
2,A13873701,오금현대백조(임대),송파구,오금동,127.128775,37.508906,37.499906,37.517906,127.119775,127.137775
3,A15275101,개봉건영,구로구,개봉동,126.840675,37.501162,37.492162,37.510162,126.831675,126.849675
4,A13991016,월계동원베네스트,노원구,월계동,127.058220,37.631732,37.622732,37.640732,127.049220,127.067220
...,...,...,...,...,...,...,...,...,...,...
2794,A10022430,신길AK푸르지오주상복합,영등포구,신길동,126.910099,37.506605,37.497605,37.515605,126.901099,126.919099
2795,A10022476,논현 e편한세상,강남구,논현동,127.028762,37.506865,37.497865,37.515865,127.019762,127.037762
2796,A10022525,강동헤리티지자이,강동구,길동,127.148697,37.539149,37.530149,37.548149,127.139697,127.157697
2797,A10022419,길음역 롯데캐슬 트윈골드,성북구,길음동,127.022976,37.603698,37.594698,37.612698,127.013976,127.031976
2798,A10022325,성수금호타운2차아파트,성동구,성수동2가,127.053152,37.543596,37.534596,37.552596,127.044152,127.062152

In [28]:
# 범위 내의 시설인지 확인하는 함수
def in_range(row, aparts_df):
    # row의 위도와 경도가 aparts_df의 범위에 있는지 확인
    in_lat_range = (row['lat'] >= aparts_df['min_lat']) & (row['lat'] <= aparts_df['max_lat'])
 
    in_lon_range = (row['lon'] >= aparts_df['min_lon']) & (row['lon'] <= aparts_df['max_lon'])
   
    # 위도와 경도가 모두 범위 내에 있는지 여부를 확인
    
    
    # result 값이 False인 항목의 개수 출력
    #print(f"Number of False results: {(result == True).sum()}")
  
    
    return (in_lat_range & in_lon_range)

In [29]:


mask_lat = hospitals.apply(lambda row: in_range(row, aparts), axis=1)

mask_lat

,0,1,2,3,4,5,6,7,8,9,...,2789,2790,2791,2792,2793,2794,2795,2796,2797,2798
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1861,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1862,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1863,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1864,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [30]:
for i, aprat in enumerate(aparts):
    print(mask_lat[i].value_counts())

0
False    1859
True        6
Name: count, dtype: int64
1
False    1865
Name: count, dtype: int64
2
False    1847
True       18
Name: count, dtype: int64
3
False    1853
True       12
Name: count, dtype: int64
4
False    1865
Name: count, dtype: int64
5
False    1858
True        7
Name: count, dtype: int64
6
False    1841
True       24
Name: count, dtype: int64
7
False    1853
True       12
Name: count, dtype: int64
8
False    1847
True       18
Name: count, dtype: int64
9
False    1859
True        6
Name: count, dtype: int64